{
    "extends": "airbnb",
    "rules": {
        "object-curly-newline": "off",
        "linebreak-style": "off",
        "comma-dangle": ["error", "never"],
        "implicit-arrow-linebreak": "off",
        "operator-linebreak": ["error", "before"],
        "no-console": "off",
        "no-undef": "off",
        "import/no-unresolved": "off",
        "func-names": "off",
        "no-empty": "off",
        "no-restricted-syntax": "off",
        "import/extensions": ["error", "ignorePackages", {
            "js": "always"
          }],
        "import/prefer-default-export": "off"
    }
  }