.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.center-text {
    text-align: center;
}

.command-actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;
}

.new-command-form {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.new-command-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 15px;
}

.form-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-control input,
.form-control textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #d1d5da;
    border-radius: 6px;
}

.button {
    background-color: #3b93f8;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 10px;
}

.button:hover {
    background-color: #1d74d8;
}

.button-close {
    background-color: #d73a49;
}

.button-close:hover {
    background-color: #b31d28;
}

.hidden {
    display: none;
}

#record-list {
    /* width: 100%; */
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

#record-list th,
#record-list td {
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.table-header th {
    text-align: center;
    padding: 10px;
    background-color: #84C1FF;
    color: white;
}

tr {
    border: none;
}

td {
    padding: 10px;
    border: none;
}

.center-text {
    text-align: center;
}

.no-commands {
    padding: 20px;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.command-buttons,
.result-buttons {
    display: flex;
    flex-direction: column;
}

.command,
.result {
    margin-bottom: 5px;
}

.command:hover,
.result:hover,
.command.hover,
.result.hover {
    background-color: #97CBFF	;
    color:white;
    border-radius: 6px;
    padding: 6px;
}