/* header */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    padding: 0 30px 0 30px;
    border-bottom: 2px solid #313538;
    z-index: 99;
    background-color: white;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
}

.header__logo {
    width: 216px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__logo>img {
    width: 216px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__categories {
    margin-left: 60px;
    display: flex;
}

.header__category {
    font-size: 16px;
    padding: 10px 15px;
    text-decoration: none;
    color: #3f3a3a;
}

.header__category:hover,
.header__category.active {
    color: #8b572a;
    border-bottom: 2px solid #8b572a;
}

.header__logout {
    margin-left: auto;
    padding: 6px 12px;
    background-color: #FF5151;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    width: 70px;
}

.header__logout:hover {
    background-color: #CE0000;
}