body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-y: hidden;
}

.content {
    display: flex;
    flex: 1;
    margin-top: 60px;
    overflow-y: hidden;
    /* 添加這行，確保 .content 在 .header 下方 */
}

.sidebar {
    /* width: 300px;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; */
    width: 300px;
    background-color: #f6f8fa;
    overflow-y: auto;
    height: calc(100% - 50px);
    position: fixed;
    border-right: 1px solid #e1e4e8;
    padding: 20px;
    box-sizing: border-box;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.graph-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    height: 100%;
    margin-left: 300px;
}

.graph {
    flex: 1;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    /* 讓graph容器從頂部開始排列，滾輪捲動可以滾到最上面 */
    background-color: #ffffff;
    border: 1px solid #ddd;
    height: calc(100% - 20px);
    /* 100vh 减去 terminal 的高度和一些額外的空間 */
    overflow-y: auto;
    /* 允許垂直滾動 */
    border-radius: 10px;
}

/* .terminal {
    height: 150px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    resize: vertical;
} */

#command-list {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    max-height: 200px;
}

#command-list li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.box {
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: 200px;
    /* 設置固定高度 */
    overflow-y: auto;
    /* 內容超出時顯示滾動條 */
    border-radius: 6px;
}

.box-header {
    flex: 0 0 auto;
    /* 使標頭不會隨內容滾動 */
    /* background-color: #f0f0f0; 你可以根據需要設置背景色 */
    /* padding-bottom: 10px;
    margin-bottom: 10px; */
    text-align: center;
    /* 水平置中 */
}

.box-content {
    flex: 1 1 auto;
    overflow-y: auto;
    /* 內容超出時顯示滾動條 */
}

#ai-dialog {
    margin-bottom: 20px;
}

.button {
    background-color: #3b93f8;
    color: white;
    border: none;
    /* padding: 5px;
    cursor: pointer;
    align-self: flex-end; */
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
    margin-bottom: 10px;
}

#ai-input,
#command-input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin-top: auto;
    border-radius: 6px;
}

.box label {
    font-size: 12px;
    margin-bottom: 5px;
}

.box ul {
    margin-top: 10px;
    flex: 1;
    overflow-y: auto;
    margin: 0px;
}

.button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

/* workflow & secret */
.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

#workflow-secrets {
    max-height: 200px;
    /* 設置固定高度 */
    overflow-y: auto;
    /* 內容超出時顯示垂直滾動條 */
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.secret-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.secret-name {
    flex: 2;
}

.secret-updated {
    flex: 1;
    text-align: right;
}

.secret-actions {
    flex: 1;
    text-align: right;
    display: flex;
    /* 讓按鈕水平排列 */
    justify-content: flex-end;
}

.secret-item button {
    margin-left: 5px;
}

#workflow-secrets .box-header {
    padding-bottom: 6px;
}

.delete-btn {
    margin-left: 10px;
    cursor: pointer;
    color: red;
}

.graph-label {
    position: absolute;
    top: 10px; /* 与容器顶部的距离 */
    left: 10px; /* 与容器左侧的距离 */
    background-color: rgba(255, 255, 255, 0.8); /* 半透明背景 */
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    z-index: 1; /* 确保标签在最前面 */
}